.arrangement {
  &-content {
    padding-left: 20px;
    &-header {
      display: flex;
      align-items: center;
      &-year {
        display: flex;
        align-items: center;
        width: 360px;
      }
    }
    &-main {
      margin-top: 30px;
      &-descriptions {
        margin-bottom: 10px;
        .el-descriptions {
          width: 968px;
          .el-descriptions-item{
            padding-bottom: 2px;
          }
        }
      }
      &-table {
        table, th, td {
          border: 1px solid black;
        }
        table {
          border-collapse: collapse;
        }
        tr {
          height: 30px
        }
        .H {
          background: #ccc;
        }
      }

    }
  }
}